---
// src/pages/index.astro
import Header from '../components/Header.astro';
import DepositBox from '../components/DepositBox.astro';
import WalletIsland from '../components/WalletIsland.jsx';
import  RatioCalculator from '../components/RatioCalculator.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LIQUID — WART + CTSI Symbiotic Token</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main class="container">
      <Header />
      
      <!-- This is the ONLY interactive part — React island -->
      <WalletIsland client:load />
      <RatioCalculator client:load/>
      <DepositBox />
    </main>
  </body>
</html>